In [50]:
import os
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
import pandas as pd

In [51]:
url='https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
response = requests.get(url)

In [52]:
soup = bs(response.text, 'html.parser')

In [53]:
results=soup.find_all('div', class_='image_and_description_container')
results_image=soup.find_all('img', class_='img-lazy')

In [54]:
list1=[]
for i in range(len(results_image)):
    list1.append((str(results_image[i]).split("=")[1][:-7]))
list1

['"NASA\'s Curiosity Mars Rover Finds a Clay Cache',
 '"Why This Martian Full Moon Looks Like Candy',
 '"NASA Garners 7 Webby Award Nominations',
 '"NASA\'s Opportunity Rover Mission on Mars Comes to End',
 '"NASA\'s InSight Places First Instrument on Mars',
 '"NASA Announces Landing Site for Mars 2020 Rover']

In [55]:
results_comment=soup.find_all('div', class_='rollover_description_inner')
list2=[]
for i in range(len(results_comment)):
    list2.append(results_comment[i].text.strip())
list2

['The rover recently drilled two samples, and both showed the highest levels of clay ever found during the mission.',
 "For the first time, NASA's Mars Odyssey orbiter has caught the Martian moon Phobos during a full moon phase. Each color in this new image represents a temperature range detected by Odyssey's infrared camera.",
 'Nominees include four JPL projects: the solar system and climate websites, InSight social media, and a 360-degree Earth video. Public voting closes April 18, 2019.',
 "NASA's Opportunity Mars rover mission is complete after 15 years on Mars. Opportunity's record-breaking exploration laid the groundwork for future missions to the Red Planet.",
 'In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.',
 'After a five-year search, NASA has chosen Jezero Crater as the landing site for its upcoming Mars 2020 rover mission.']

In [56]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)
browser.visit("https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars")

In [57]:
html = browser.html
soup2 = bs(html, 'html.parser')

In [58]:
featureimg = soup2.find('article', class_='carousel_item')

In [59]:
updateimg=str(featureimg).split("=")[3]
finalimg=updateimg.split("'")[1]
featureimgurl="https://www.jpl.nasa.gov"+finalimg
featureimgurl

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18884-1920x1200.jpg'

In [82]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser2 = Browser('chrome', **executable_path, headless=False)
browser2.visit("https://twitter.com/marswxreport?lang=en")
html2=browser2.html
soup3=bs(html2,'html.parser')

In [104]:
tweet=soup3.find('p',class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')

In [108]:
mw=(str(tweet).split("="))[3].strip()[5:][:-8]
mw

'InSight sol 250 (2019-08-10) low -100.0ºC (-148.1ºF) high -26.2ºC (-15.1ºF)\nwinds from the SSE at 4.4 m/s (9.8 mph) gusting to 16.2 m/s (36.2 mph)\npressure at 7.60 hPa'

In [109]:
doc = mw.split('\n')
mars_weather = " ".join(doc)
mars_weather

'InSight sol 250 (2019-08-10) low -100.0ºC (-148.1ºF) high -26.2ºC (-15.1ºF) winds from the SSE at 4.4 m/s (9.8 mph) gusting to 16.2 m/s (36.2 mph) pressure at 7.60 hPa'

In [110]:
tables=pd.read_html("https://space-facts.com/mars/")
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [112]:
type(tables)

list

In [123]:
df=tables[0]

In [119]:
df1=tables[1]
df1.columns=['Mars Planet Profile', 'Data']
df1

    Mars Planet Profile                           Data
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [125]:
dfinfo=df.to_html()
df1info=df1.to_html()

In [126]:
dfinfo

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars - Earth Comparison</th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-153 to 20 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [137]:
updatedf=dfinfo.replace('\n', '')
updatedf

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Mars - Earth Comparison</th>      <th>Mars</th>      <th>Earth</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Diameter:</td>      <td>6,779 km</td>      <td>12,742 km</td>    </tr>    <tr>      <th>1</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg</td>      <td>5.97 × 10^24 kg</td>    </tr>    <tr>      <th>2</th>      <td>Moons:</td>      <td>2</td>      <td>1</td>    </tr>    <tr>      <th>3</th>      <td>Distance from Sun:</td>      <td>227,943,824 km</td>      <td>149,598,262 km</td>    </tr>    <tr>      <th>4</th>      <td>Length of Year:</td>      <td>687 Earth days</td>      <td>365.24 days</td>    </tr>    <tr>      <th>5</th>      <td>Temperature:</td>      <td>-153 to 20 °C</td>      <td>-88 to 58°C</td>    </tr>  </tbody></table>'

In [138]:
df.to_html('table1.html')

In [139]:
df1.to_html('table2.html')

In [157]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser3 = Browser('chrome', **executable_path, headless=False)
browser3.visit("https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced")
html3=browser3.html
soup4=bs(html3,'html.parser')

In [160]:
CEimg=str(soup4.find('div',class_='downloads')).split("=")[4][:-8][1:]
CE="Cerberus Hemisphere"

'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'

In [163]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser4 = Browser('chrome', **executable_path, headless=False)
browser4.visit("https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced")
html4=browser4.html
soup5=bs(html4,'html.parser')

In [164]:
VMimg=str(soup5.find('div',class_='downloads')).split("=")[4][:-8][1:]
VM="Valles Marineris"

'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'

In [165]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser5 = Browser('chrome', **executable_path, headless=False)
browser5.visit("https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced")
html5=browser5.html
soup6=bs(html5,'html.parser')

In [170]:
SHimg=str(soup6.find('div',class_='downloads')).split("=")[4][:-8][1:]
SH="Schiaparelli"

In [171]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser6 = Browser('chrome', **executable_path, headless=False)
browser6.visit("https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced")
html6=browser6.html
soup7=bs(html6,'html.parser')

In [173]:
SM= "Syrtis Major"
SMimg=str(soup7.find('div',class_='downloads')).split("=")[4][:-8][1:]

'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'

In [176]:
hemisphere_image_urls = [{"title":CE, "img_url":CEimg},
                         {"title":VM, "img_url":VMimg},
                         {"title":SH, "img_url":SHimg},
                         {"title":SM, "img_url":SMimg}]